<launch>

    <!-- Load configurations from YAML file to parameter server -->
    <rosparam file="$(find pedsim_ros_plugin)/config/points.yaml" command="load"/>

    <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find pedsim_ros_plugin)/worlds/test.world"/>
        <!-- more default parameters can be changed here -->
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="false"/>
    </include>

    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find pedsim_ros_plugin)/rviz/pedsim.rviz" />
</launch>